{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Home</span></h1>
    </div>
    
</div>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-9">

        <!-- new widget -->
        <div class="jarviswidget jarviswidget-color-blueDark">

            <header>
                <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                <h2> My Events </h2>
                <div class="widget-toolbar">
                    <!-- add: non-hidden - to disable auto hide -->
                    
                </div>
            </header>

            <!-- widget div-->
            <div ng-controller="DashboardCtrl">

                <div class="widget-body no-padding">
                    <!-- content goes here -->
                    
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar" style="padding-top:15px"></div>

                    <!-- end content -->
                </div>

            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->

    </div>

<article class="col-sm-12 col-md-9 col-lg-3 sortable-grid ui-sortable">
<div class="container">
   content here 
</div>

    
</article>

    
</div>



    
{% endblock content %}

{% block extra_angular %}
<script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/controllers/expert_dashboardCtrl.js"></script>
    
{% endblock extra_angular %}

