{% extends "base.html" %}
{% block ng-app %}
    ng-app="callHubApp"
{% endblock ng-app %}

{% block content %}


<div ui-view>
    
</div>

    
{% endblock content %}
{% block extra_angular %}


<!--Angular scripts -->    
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/expert/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/expert/controllers/nav.js"></script>
    



    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/expert/config/urls.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/expert/controllers/expert_dashboardCtrl.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/expert/controllers/userprofile.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/expert/controllers/manage_slots.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/expert/controllers/manage_slot.js"></script>

<script type="text/javascript">
  // This allows you to access the current user id in your angular controllers.
  angular
      .module('callHubApp')
      .factory('AuthUser', function() {
        return {
          id: "{{ user.id|default:''}}",
        }
      });
</script>



    
{% endblock extra_angular %}

