{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block registration_content %}

{% if account %}

<p>{% trans "Account successfully activated" %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

{% else %}

<p>{% trans "Account activation failed" %}</p>

{% endif %}

{% endblock %}
