{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}


{% block title %}
  Set Password  
{% endblock title %}

{% block main_content %}

<div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="sign-form">
              <h3 class="first-child">Setup Password for New Account</h3>
              <hr>
              <form role="form" method="post" action=".">
                  {% csrf_token %}
                
                   {{ form|bootstrap }}
                <button type="submit" class="btn btn-color">Done </button>
                  <input type="hidden" name="next" value="{{ next }}" />
                  
                <hr>
              </form>
              
                
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->



{% endblock %}