{% extends "registration/registration_base.html" %}
{% block extra_css %}
  <style type="text/css">
 .ln-a {
  color:#2790B0 !important;
  } 
</style>
{% endblock extra_css %}

{% block main_content %}  
    
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hidden-xs hidden-sm col-md-offset-3 col-lg-offset-3">
      <div class="well no-padding">
              <form method="post" action="." id="login-form" class="smart-form client-form">
              {% csrf_token %}
                <header>
                  Sign In
                </header>
                <fieldset>
                   <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
                </fieldset>

                <fieldset>
                  
                  <section>
                    
                    <label class="label">Username</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="text" name="username" id="id_username" >
                      <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Username</b></label>
                  <div class="note note-error">{{ form.username.errors}}</div>
                  </section>

                  <section>
                  
                    <label class="label">Password</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input type="password" name="password" id="id_password">
                      <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                    <div class="note note-error">{{ form.password.errors}}</div>
                    <div class="note">
                      <a href="">Forgot password?</a>
                    </div>
                    <div class="note">
                      <p>Not registered? <a href="">Create an Account.</a></p>
                    </div>
                    
                  </section>

                  <section>
                    <label class="checkbox">
                      <input type="checkbox" name="remember" checked="">
                      <i></i>Stay signed in</label>
                  </section>
                </fieldset>
                <footer>
                <input type="hidden" name="next" value="{{ next }}" />
                  <button type="submit" class="btn btn-primary">
                    Sign in
                  </button>
                </footer>
              </form>

            </div>
        
      </div>
      
    </div>
    
      
    </div>

      



{% endblock %}
