{% extends "registration/registration_base.html" %}

{% block title %}
    Registration-Client
{% endblock title %}

{% block extra_css %}
    <style type="text/css">
 .ln-a {
  color:#2790B0 !important;
  } 
</style>
{% endblock extra_css %}




{% block main_content %}

<div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="well no-padding">

              <form action="." method="post" id="smart-form-register" class="smart-form client-form">

              {% csrf_token %}
                <header>
                  Register Account
                </header>
                <fieldset><section>
                  <ul class="list-inline text-center">
              <li>
                <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-google"></i></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
                </section>
                  
                </fieldset>

                <fieldset>
                <div class="text-center">
                - OR -
                  
                </div>
                <section>
                  <label class="label">First Name</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="text" name="first_name" placeholder="First Name" id="id_first_name">
                      <div class="note note-error">{{ form.first_name.errors}}</div>
                      
                  </section>
                  <section>
                  <label class="label">Last Name</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="text" name="last_name" placeholder="Last Name" id="id_last_name">
                      <b class="tooltip tooltip-bottom-right">Needed to enter the website</b> </label>
                      <div class="note note-error">{{ form.last_name.errors}}</div>
                  </section>
                  <section>
                  <label class="label">Username</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="text" name="username" placeholder="Username" id="id_username">
                      <b class="tooltip tooltip-bottom-right">Needed to enter the website</b> </label>
                      <div class="note note-error">{{ form.username.errors}}</div>
                  </section>

                  <section>
                  <label class="label">Email</label>
                    <label class="input"> <i class="icon-append fa fa-envelope"></i>
                      <input type="email" name="email" placeholder="Email address" id="id_email">
                      <b class="tooltip tooltip-bottom-right">Needed to verify your account</b> </label>
                      <div class="note note-error">{{ form.email.errors}}</div>
                  </section>

                  <section>
                  <label class="label">Password</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input type="password" name="password1" placeholder="Password" id="id_password1">
                      <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                      <div class="note note-error">{{ form.password1.errors}}</div>
                  </section>

                  <section>
                  <label class="label">Password Again</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input type="password" name="password2" placeholder="Confirm password" id="id=password2">
                      <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                      <div class="note note-error">{{ form.password2.errors}}</div>
                  </section>

                  <section>
                  <label class="label">Country</label>
                    <label class="select"> <i class="icon-append fa fa-lock"></i>
                      {{form.country}}
                      <b class="tooltip tooltip-bottom-right">Your Country</b> </label>
                  </section>

                  
                </fieldset>

                <fieldset>

                  <section>
                    <label class="checkbox">
                      <input type="checkbox" name="subscription" id="subscription">
                      <i></i>I want to receive news and special offers</label>
                    <label class="checkbox">
                      <input type="checkbox" name="terms" id="terms">
                      <i></i>I agree with the <a href="#" data-toggle="modal" data-target="#myModal"> Terms and Conditions </a></label>
                  </section>
                </fieldset>
                <footer>
                  <button type="submit" class="btn btn-primary">
                    Register
                  </button>
                </footer>

                <div class="message">
                  <i class="fa fa-check"></i>
                  <p>
                    Thank you for your registration!
                  </p>
                </div>
              </form>

            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->



{% endblock %}
