{% extends "registration/registration_base.html" %}
{% load bootstrap %}
{% block title %}
    Registration-Expert
{% endblock title %}

{% block extra_css %}
    <style type="text/css">
 .ln-a {
  color:#2790B0 !important;
  } 
</style>
{% endblock extra_css %}




{% block main_content %}

<div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="sign-form">
              <h3 class="first-child">Create Expert Account</h3>
              <div>
                    <a class="ln-a" href="{% url "socialauth_begin" "linkedin" %}"><i class="fa fa-2x fa-linkedin-square"></i> LInkedIn Registration</a>
                </div>
              <hr>
              <form role="form" method="post" action=".">
                  {% csrf_token %}
                
                   {{ form|bootstrap }}
                <button type="submit" class="btn btn-color">Register </button>
                  <input type="hidden" name="next" value="{{ next }}" />
                  <input type="hidden" name='user_type' value="Expert" />
                <hr>
              </form>
              
                
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->



{% endblock %}
