{% extends "registration/registration_base.html" %}
{% block extra_css %}
  <style type="text/css">
 .ln-a {
  color:#2790B0 !important;
  } 
</style>
{% endblock extra_css %}

{% block main_content %}  
    
    <div class="container">
    <div class="sign-form">
    <h3 class="first-child">Choose Your Account Type</h3>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="row">
        
          <div class="col-md-6 col-lg-6  col-sm-8">
            <h4>Client Account</h4>
            <p class="text-muted">Contact experts, create appointments and phone them </p>
            <a href='{% url "registration_register_client" %}' class="btn btn-color btn-lg">Signup</a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-8">
            <h4>Expert Account</h4>
            <p class="text-muted">Receive appointments, help out clients with problems, get paid </p>
            <a href='{% url "registration_register_expert" %}' class="btn btn-color btn-lg">Signup</a>
          </div>
        </div> <!-- / .row -->
      </div>
    </div>
        
        </div>
      </div> <!-- / .container -->



{% endblock %}
