{% extends "base.html" %}

{% load i18n %}

{% block topnav %}
    
{% endblock topnav %}
{% block subnav  %}
    
{% endblock subnav %}

{% block title %}
Registration
{% endblock %}
{% block extra_css %}

<style type="text/css">

.menu-on-top aside#left-panel {
width: 100%!important;
min-height: 0!important;
height: auto;
overflow: visible;
-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
border-bottom: 1px solid #fff !important; 
border-top: 1px solid #fff !important; 
}

</style>

  
{% endblock extra_css %}


{% block content %}

<div style="margin: 30px 0 60px 0">
    {% block main_content %}
    
{% endblock main_content %}
</div>

    
{% endblock content %}


