<aside id="left-panel" >
    
    <nav ui-view='nav'>
        
    </nav>
</aside>
<div id="main" role="main">
    
    <div id="ribbon" ng-hide="hide_subnav">
        <div ui-view="subnav">
            
        </div>
    </div>
    <div >
        <div id="content">
            
            
            <div class="col-md-12" style="margin-bottom:60px">
                <div ui-view='content' >
                    
                </div>
                
                
                
                
            </div>
            
            
        </div>
    </div>
