<style type="text/css">
  form .form-control {
 height: 35px; 
 width: 300px; 
 padding: 12px 24px; 
 border-radius: 45px 0 0 45px; 
 font-size: 18px; 
 -webkit-box-shadow: none; 
 box-shadow: none; 
}
.form-inline{
  margin-top: 10px
}
.margin-bottom-20
{
  margin-bottom: 20px; 
}
.search_params
{
  padding-left: 5px
}

form button {
height: 35px;
border-radius: 0 45px 45px 0 !important;
margin-left: -4px;
}
.div_border{
  border-bottom: 1px solid #eee;
  padding: 20px
}

.headline{
  margin-bottom: 10px;
  line-height: 23px;
}
.call_rate
{text-align:center}

.rate{
  font-size: 20px;
  font-weight: bolder

}
.ratings {
font-size: larger;

}
.glyphicon-star:before {
content: "\e006";
color: #FDAE05;
}
.user_link{
  color:inherit!important;
}
</style>
<div class="row margin-bottom-20">
  
            
            <div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
        <div class="input-group input-group-lg">
          
          <input class="form-control input-lg" type="text" placeholder="Search Experts" id="search-project">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </div>
            </div>
          </div>




<div class="row">
  <div class="col-md-2">

  <div class="panel panel-default">

  <div class="panel-body">
    
    <div id="categories" class="margin-bottom-20">
             <p>Categories</p>
             <div class="search_params">
               <select class="input-sm form-control"><option>select...</option></select>
             </div>
             
               
                      </div>

             <div id="rating">
               <p>Rating Score</p>
               <div class="search_params">
               <div class="radio">
                <label>
                  <input type="radio" name="rating"  value="1">
                  Any Score
                </label>
              </div>
                 <div class="radio">
                <label>
                  <input type="radio" name="rating"  value="2">
                  No Rating Yet
                </label>
              </div>
               </div>
             </div> 
  </div>
                     
            </div>



                
    
  </div>

  <div class="col-md-10">

  <h1 class="row-seperator-header">
  Search Results
    
  </h1>

  <div class="row">
  <div class="col col-md-9">
   



    

    <div class="experts">
      <div class="row div_border" ng-repeat="expert in experts">
        
        <a ui-sref="browse_expert.view_expert({user_slug:expert.slug})" class='user_link'>

        <div class="col col-md-2">
          <img ng-src="{{expert.image}}" class="img-thumbnail img-responsive" style="width: 150px" >
        </div>
        <div class="col col-md-7 ">
          
              <h5>{{expert.first_name}} {{expert.last_name}}</h5>
              <h4>{{expert.headline}} - <span class='text-muted'>{{expert.industry}}</span></h4>
              <p text-muted >{{expert.about | limitTo : 100}}...</p>
              <p class="ratings">Rating: </p> 
              <p class="ratings"><rating ng-model="expert.rating.rating" max=5 readonly="true" ></rating> ({{expert.rating.number_of_ratings}})</p>
              

        </div>
        </a>
        <div class="col col-md-3 call_rate">
          <div class="col col-md-12 ">
            <p class="rate">$ {{ expert.call_rate }}</p>
            <p class="text-muted">Per Minute</p>
          </div>
          <div class="col col-md-12">
            <a href="" class="btn btn-success">Book Appointment</a>
          </div>
        </div>

      
      </div>


      

   
    </div>
   
    
  </div>
    
  </div>



  
    
  </div>
</div>      