<style type="text/css">
  .rate{
  font-size: 20px;
  font-weight: bolder

}

.glyphicon-star:before {
content: "\e006";
color: #FDAE05;
}


    pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #fff;
  border: 1px solid #fff;

}

pre{
        white-space: pre-line;
        word-wrap: normal;
    }

</style>

<div class="row">

  <div class="col-sm-12">


      <div class="well well-sm">

        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="well well-light well-sm no-margin no-padding">

              <div class="row">

                

                <div class="col-sm-12">

                  <div class="row">

                    <div class="col-sm-3 profile-pic">
                      <img ng-src="{{expert.image}}">
                      <div class="padding-10">
                        <h4 class="font-md"><strong>1,543</strong>
                        <br>
                        <small>Followers</small></h4>
                        <br>
                        <h4 class="font-md"><strong>419</strong>
                        <br>
                        <small>Connections</small></h4>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <h1>{{expert.first_name}} <span class="semi-bold">{{expert.last_name}}</span>
                      <br>
                      <small> {{expert.headline}} - {{expert.industry}}</small>
                      
                      </h1>

                      <ul class="list-unstyled">

                      </ul>
                      <br>
                      <p class="font-md">
                        <i>A little about me...</i>
                      </p>
                      <p>

                        <pre>{{expert.about}}</pre>

                      </p>
                      <br>
                      
                      <br>
                      <br>

                    </div>
                    

                  </div>

                </div>

              </div>


            </div>

          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">

            <div class="row well">
            <div class="col-md-6 col-md-offset-3 text-center margin-down-20">
            <div class="rate">${{expert.call_rate}}</div> <div class="text-muted">per minute</div>
              
            </div>

            <div class="col-md-6 col-md-offset-3 margin-down-20">
            <a class="btn btn-success btn-block btn-lg">
            <i class="fa fa-phone"></i>
            Book a Call
              
            </a>
              
            </div>

            <div class="col-md-6 col-md-offset-3 margin-down-20">
            <a href="javascript:void(0);" class="btn btn-default btn-block btn-lg"><i class="fa fa-envelope-o"></i> Send Message</a>
              
            </div>

            <div class="col-md-6 col-md-offset-3 text-center">
            <rating ng-model="expert.rating.rating" max=5 readonly="true" ></rating> ({{expert.rating.number_of_ratings}})
              
            </div>

              
            </div>

            
            

            <h1 class="page-">Reviews</h1>
            <div class="chat-body no-padding profile-message">
              <ul>
                <li class="message">
                  <img src="img/avatars/4.png" class="online">
                  <span class="message-text"> <a href="javascript:void(0);" class="username">Sadi Orlaf </a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </span>

                  <ul class="list-inline font-xs">
                    <li>
                      <a href="javascript:void(0);" class="text-muted">a moment ago </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);" class="text-danger"><i class="fa fa-thumbs-up"></i> Like</a>
                    </li>
                  </ul>

                </li>
              </ul>
            </div>


          </div>
        </div>

      </div>


  </div>

</div>

<!-- end row -->

</section>
<!-- end widget grid -->

