{% extends "base.html" %}
{% block ng-app %}
    ng-app="callHubClientApp"
{% endblock ng-app %}

{% block content %}


<div ui-view>
    
</div>

    
{% endblock content %}
{% block extra_angular %}

<!--Angular scripts -->  
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/client/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/client/config/urls.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/client/controllers/browse_experts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/client/controllers/view_expert.js"></script>






<script type="text/javascript">



  // This allows you to access the current user id in your angular controllers.
  angular
      .module('callHubClientApp')
      .factory('AuthUser', function() {
        return {
          id: "{{ user.id|default:''}}",
        }
      });
</script>



    
{% endblock extra_angular %}

