<div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <h3 class="primary-font">Search Results</h3>
            </div>
            <div class="col-sm-8 col-md-8">
        <div class="input-group input-group-lg hidden-mobile">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Categories <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="active">
                <a href="javascript:void(0)"><i class="fa fa-check"></i> Everything</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0)">Users</a>
              </li>
              <li>
                <a href="javascript:void(0)">Projects</a>
              </li>
              <li>
                <a href="javascript:void(0)">Sites</a>
              </li>
            </ul>
          </div>
          <input class="form-control input-lg" type="text" placeholder="Search again..." id="search-project">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </div>
            </div>
          </div>
        </div>
      </div>
  