<!DOCTYPE html>
<html lang="en-us" {% block ng-app %}{% endblock ng-app %}>	
	<head>
		<meta charset="utf-8">
		<title> CallHub - {% block title %} {% endblock title %}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- #CSS Links -->
		<!-- Basic Styles -->
        <style type="text/css">
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        </style>


		
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-skins.min.css">
		<link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" rel="stylesheet">

		<!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-rtl.min.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update. -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/style.css">
	
		<link rel="stylesheet" type="text/css" media="screen" href='{{ STATIC_URL }}angular-busy/angular-busy.css'>
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/toaster.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/cropme.css">



		

		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- #GOOGLE FONT -->
		{# <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"> #}

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">

		<style type="text/css">
		
        
		</style>
		{% block extra_css %}
			
		{% endblock extra_css %}

	</head>

	
	<body class="{% block bdClass %}menu-on-top fixed-footer{% endblock bdClass %}" >
	
        
		
		{% block content %}
			
		{% endblock content %}
		<!-- END #MAIN PANEL -->

		<!-- #PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">CallHub WebApp © 2014</span>
				</div>

				
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		
		
		<script src="{{STATIC_URL}}js/libs/jquery-2.0.2.min.js"></script>
		

		<script src="{{STATIC_URL}}js/libs/jquery-ui-1.10.3.min.js"></script>
		<script src="{{ STATIC_URL }}socket.io.js"></script>
		<!--<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.js"></script>-->
		<script src="{{ STATIC_URL }}js/moment.min.js"></script>
		<script src="{{ STATIC_URL }}js/functions.js"></script>
		
		<script src="{{ STATIC_URL }}js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>
		




        <script type="text/javascript" src="{{STATIC_URL}}fileUpload/angular-file-upload-shim.min.js"></script>

		<script type="text/javascript" src='{{ STATIC_URL }}angular/angular.min.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-resource.min.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-route.min.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-sanitize.min.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-touch.min.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/superswipe.js'></script>


	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-cookies.min.js'></script>

	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-animate.min.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-ui-router.min.js'></script>

	<script type="text/javascript" src='{{ STATIC_URL }}angular/ui-bootstrap-tpls-0.11.2.min.js'></script>
	
    <script type="text/javascript" src='{{ STATIC_URL }}ng-csv/ng-csv.js'></script>
    <script src="{{ STATIC_URL }}/auto_validate/jcs-auto-validate.min.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}angular-socket-io-master/socket.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}calendar.js"></script>

        <!--<script type="text/javascript" src="{{STATIC_URL}}fileUpload/angular-file-upload.min.js"></script> -->

    


    <!--angular scripts-->
    
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/services/models.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/services/calendarService.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/directives/cropme.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ng_scripts/directives/toaster.js"></script>


    {% block extra_angular %}
    	
    {% endblock extra_angular %}





  

	
		

		<!-- IMPORTANT: APP CONFIG -->
		<script src="{{STATIC_URL}}js/app.config.js"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="{{STATIC_URL}}js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 

		<!-- BOOTSTRAP JS -->
		<script src="{{STATIC_URL}}js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="{{STATIC_URL}}js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{{STATIC_URL}}js/smartwidgets/jarvis.widget.min.js"></script>

		<!-- EASY PIE CHARTS -->
		
		<!-- <script src="{{STATIC_URL}}js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>-->

		<!-- SPARKLINES -->
		<!--<script src="{{STATIC_URL}}js/plugin/sparkline/jquery.sparkline.min.js"></script> -->

		

		<!-- JQUERY VALIDATE -->
		<script src="{{STATIC_URL}}js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="{{STATIC_URL}}js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="{{STATIC_URL}}js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->

<!--		<script src="{{STATIC_URL}}js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
 -->
		<!-- browser msie issue fix -->
		<script src="{{STATIC_URL}}js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<!-- FastClick: For mobile devices: you can disable this in app.js -->
		<script src="{{STATIC_URL}}js/plugin/fastclick/fastclick.min.js"></script>

		<!--[if IE 8]>
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
		<![endif]-->

		<!-- Demo purpose only -->
		<!--<script src="{{STATIC_URL}}js/demo.min.js"></script>-->

		<!-- MAIN APP JS FILE -->
		<script src="{{STATIC_URL}}js/app.min.js"></script>


		{% block extra_js %}
			
		{% endblock extra_js %}

		<!--this will reloadd the page for us as we develop-->

		
        <!--<script src="http://localhost:35729/livereload.js"></script>-->
		

		

	</body>

</html>