<style type="text/css">
    
</style>
<ul >
    <li ng-class="{active:$state.includes('dashboard')}" >
        <a ui-sref="dashboard.home" title="Dashboard" ><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
    </li>
    <li ng-class="{active:$state.includes('usersettings')}">
        <a ui-sref="usersettings.account.edit_profile" title="Account" ><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Account</span></a>
    </li>
    
    
</ul>
<ul class="col-md-offset-11 on-hover">
    <li class="">
        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown" aria-expanded="false">
            <img src="/static/img/avatars/sunny.png" alt="John Doe" class="online">
        </a>
        
        <ul class="dropdown-menu pull-right" style="margin:0">
        <li>
                <a ui-sref="usersettings.account.edit_profile" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> Edit Profile</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Settings</a>
            </li>
            <li class="divider"></li>
        
            <li>
                <a href="/accounts/logout" class="padding-10 padding-top-5 padding-bottom-5" data-action=""><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
            </li>
        </ul>
            
        
        
    </li>
    
</ul>