<span class="ribbon-button-alignment" style="margin-right:25px">
	<!--sub menu for dashboardnav -->
	<div class="sub_nav_menu " ng-class="{sticky_nav : $state.includes('dashboard')}">
		<ul class='sub_nav_menu_ul'>
				<li ui-sref-active="active">
					<a ui-sref="dashboard.home">Home</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="dashboard.manage_slots">Manage Slots</a>
				</li>
				
				
			</ul>

	</div>

	<!--sub menu for dashboardnav -->
	<!-- <div class="sub_nav_menu " ng-class="{sticky_nav : $state.includes('usersettings.account')}">
		<ul class='sub_nav_menu_ul'>
				<li ui-sref-active="active">
					<a ui-sref="usersettings.account.edit_profile">Profile</a>
				</li>
				
				
				
			</ul>

	</div> -->


</span> 