<style type="text/css">


#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#fff;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main-content {
  height:100%;
  overflow:auto;
}
.nav>li>a {
    color:#494949;
    font-size:18px;
}
.nav>li.active {
    color:#494949;
    /*font-size:20px;*/
    background-color: #eee;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}  
</style>

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-users"></i> Account <span>Profile</span></h1>
    </div>
    
</div>


<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
 <!--        <h2><u>User Account</u></h2> -->
        <ul class="nav nav-stacked">
          <li ui-sref-active='active'><a ui-sref='usersettings.account.edit_profile'>My Profile</a></li>
          <li ui-sref-active='active'><a ui-sref='usersettings.account.edit_image'>Edit Image</a></li>
          
        </ul>
      </div>
  </div>
  <div id="main-content">
      <div class="col-md-12" ui-view="account_content">
           


      </div>
  </div>
</div><!--/row-offcanvas -->
  
    
</div>