<section id="">
    <div class="row">
        
    </div>
    <article class="col col-sm-12 col-md-12 col-lg-12   margin-down-50">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="true">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i>
                    </span>
                    <h2>Edit Image</h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box --> </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class='account-content' >
                                <div class="col col-md-3">
                                    <div class="row margin-down-20">
                                        <div class="col col-md-12">
                                            <div class="row" >
                                                <!-- profile pic row-->
                                                <div class="col col-md-12 margin-down-20">
                                            
                                                    
                                                    <img id='profile_pic' src="{{userprofilepic}}" class="img-thumbnail" alt="" ng-hide="add_image">
                                                    
                                                    <img id='profile_pic' src="/media/profile_pic/default.jpg" class="img-thumbnail" alt="" ng-show="add_image">
                                                </div>
                                                <div class="col col-md-10 col-md-offset-2">
                                                    
                                                    
                                                    
                                                    
                                                    
                                                    <button class="btn btn-success" ng-click='open("lg")' ng-show="add_image">Add</button>
                                                    
                                                    <button class="btn btn-success btn-sm" ng-click='open("lg")' ng-hide="add_image">Edit</button>
                                                    <button class="btn btn-danger btn-sm" ng-hide="add_image">Delete</button>
                                                    
                                                    
                                                    
                                                    
                                                </div>
                                            </div>
                                            <!-- end of profile pic row--> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content --> </div>
                            <!-- end widget div --> </div>
                            <!-- end widget -->
                        </article>
                    </section>

                    
                    <script type="text/ng-template" id='uploadpic.html'>
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true" ng-click='cancel()' >&times;</button>
                        <h4 class="modal-title">Upload Image</h4>
                    </div>
                    <div class="modal-body">
                        <cropme
                        width="570"
                        height="400"
                        ratio="1"
                        icon-class=""
                        type="png"
                        destination-width="300"></cropme>
                    </div>
                    
                    
                    </script>