
<section id="">
<div class="row">

    
</div>
        <article class="col col-sm-12 col-md-12 col-lg-12   margin-down-50">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="true">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i>
                    </span>
                    <h2>Account Info</h2>

                    <div class="widget-toolbar">
                        <button class="btn btn-success" ng-click='editaccountinfo()' ng-show='!editaccount'>Edit</button>
                    </div>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box --> </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class='account-content' >

                            <div class="row">
                                
                                <!-- account info row (non edit)-->
                                <div class="col col-md-12" ng-hide='editaccount'>
                                    <div class="row margin-down-20">
                                        <div class="col col-md-4 ">User Id</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.username }}
                                        </div>

                                    </div>

                                    <div class="row margin-down-20">
                                        <div class="col col-md-4 ">Name</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.first_name }} {{ originalUserObject.last_name }}
                                            
                                        </div>

                                    </div>
                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">Call Rate</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            ${{ originalUserObject.call_rate }}/min
                                            
                                        </div>

                                    </div>
                                    
                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">Headline</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.headline }}
                                            
                                        </div>

                                    </div>
                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">Industry</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.industry }}
                                            
                                        </div>

                                    </div>

                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">About</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.about }}
                                            
                                        </div>

                                    </div>
                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">Email</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.email }}
                                            
                                        </div>

                                    </div>

                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">Phone Number</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.mobile_number }}
                                            
                                        </div>

                                    </div>

                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">Country Name</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.country_name }}
                                            
                                        </div>

                                    </div>

                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">Address</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.address }}
                                            
                                        </div>

                                    </div>
                                    <div class="row margin-down-20">
                                        <div class="col col-md-4">TimeZone</div>
                                        <div class="col col-md-8 text-muted">
                                            
                                            {{ originalUserObject.timezone }}
                                            
                                        </div>

                                    </div>
                                </div>
                                <!--end of account info (non edit) -->

                                <!--account info (edit)-->
                                <div class="col col-md-12" ng-hide='!editaccount'>

                                    <form name='accountForm' class="smart-form">
                                        <section>
                                            <label class="label">First Name</label>
                                            <label class="input" ng-class="{ 'state-error' : accountForm.first_name.$invalid && !accountForm.first_name.$pristine }">
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" name='first_name' ng-model="copieduserObject.first_name" required placeholder="First Name"> <b class="tooltip tooltip-top-left"><i class="fa fa-warning txt-color-teal"></i>
                                                    First Name</b> 

                                            </label>
                                            <div class="note note-error" ng-show="accountForm.first_name.$invalid && !accountForm.first_name.$pristine" >Your First Name is required.</div>
                                        </section>
                                        <section>
                                            <label class="label">Last Name</label>
                                            <label class="input" ng-class="{ 'state-error' : accountForm.last_name.$invalid && !accountForm.last_name.$pristine }">
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" placeholder="Last Name" name='last_name' ng-model="copieduserObject.last_name" required> <b class="tooltip tooltip-top-left"><i class="fa fa-warning txt-color-teal"></i>
                                                    Last Name</b> 
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.last_name.$invalid && !accountForm.last_name.$pristine" >Your Last Name is required.</div>
                                        </section>
                                        <section>
                                            <label class="label">Call Rate</label>
                                            <label class="input" ng-class="{ 'state-error' : accountForm.call_rate.$invalid && !accountForm.call_rate.$pristine }">
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="number" placeholder="Call Rate" name='call_rate' ng-model="copieduserObject.call_rate" required> <b class="tooltip tooltip-top-left"><i class="fa fa-warning txt-color-teal"></i>
                                                    Rate you charge a call per minute</b> 
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.call_rate.$invalid && !accountForm.call_rate.$pristine" >Your Call Rate is required, Must be number.</div>
                                        </section>
                                       
                                        <section>
                                            <label class="label">Headline</label>
                                            <label class="input" ng-class="{ 'state-error' : accountForm.headline.$invalid && !accountForm.headline.$pristine }">
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" placeholder="Headline" ng-model="copieduserObject.headline" name="headline" required>
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Headline
                                                </b>
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.headline.$invalid && !accountForm.headline.$pristine" >Your Headline is required.</div>
                                        </section>
                                        <section>
                                            <label class="label">Industry</label>
                                            <label class="input" ng-class="{ 'state-error' : accountForm.industry.$invalid && !accountForm.industry.$pristine }">
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" placeholder="Industry" ng-model="copieduserObject.industry" name='industry' required>
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Industry
                                                </b>
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.industry.$invalid && !accountForm.industry.$pristine" >Your Industry is required.</div>
                                        </section>
                                        <section>
                                            <label class="label">About</label>
                                            <label class="textarea" ng-class="{ 'state-error' : accountForm.about.$invalid && !accountForm.about.$pristine }">
                                                
                                                <textarea placeholder="About" rows="10" ng-model="copieduserObject.about" name='about' required></textarea> 
                                               
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.industry.$invalid && !accountForm.industry.$pristine" >Your About field is required.</div>
                                        </section>
                                         <section>
                                            <label class="label">Email</label>
                                            <label class="input" ng-class="{ 'state-error' : accountForm.email.$invalid && !accountForm.email.$pristine }">
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" placeholder="Email" ng-model="copieduserObject.email" name='email' required>
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Email
                                                </b>
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.email.$invalid && !accountForm.email.$pristine" >Your Email is required.</div>
                                        </section>
                                        <section>
                                            <label class="label">Phone Number</label>
                                            <label class="input" ng-class="{ 'state-error' : accountForm.mobile_number.$invalid && !accountForm.mobile_number.$pristine }">
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" placeholder="Focus to view the tooltip" ng-model="copieduserObject.mobile_number" name='mobile_number' required>
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Phone Number
                                                </b>
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.mobile_number.$invalid && !accountForm.mobile_number.$pristine" >Your Phone Number is required.</div>
                                        </section>
                                        <section>
                                            <label class="label">Country Name</label>
                                            <label class="select" ng-class="{ 'state-error' : accountForm.country_name.$invalid && !accountForm.country_name.$pristine }">
                                                <select class='input-sm' ng-model='copieduserObject.country' name='country_name'  required>
                                                    <option ng-repeat='c in countries' ng-selected='{{ c.code == copieduserObject.country }}'  ng-value='c.code' >
                                                        
                                                        {{ c.name }}
                                                        
                                                    </option>
                                                </select>
                                                <i></i>
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.country_name.$invalid && !accountForm.country_name.$pristine" >Your Country Name is required.</div>
                                        </section>

                                        <section>
                                            <label class="label">Address</label>
                                            <label class="input" ng-class="{ 'state-error' : accountForm.address.$invalid && !accountForm.address.$pristine }">
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" placeholder="Address" ng-model="copieduserObject.address" name='address' required>
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Address
                                                </b>
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.address.$invalid && !accountForm.address.$pristine" >Your Address is required.</div>
                                        </section>

                                        <section>
                                            <label class="label">TimeZone</label>
                                            <label class="select" ng-class="{ 'state-error' : accountForm.timezone.$invalid && !accountForm.time_zone.$pristine }">
                                                <select class='input-sm' ng-model="copieduserObject.timezone" name='timezone'  required>
                                                    <option ng-repeat='timezone in timezones' ng-selected='{{ timezone.tz == copieduserObject.timezone }}'  ng-value='timezone.tz' >
                                                        
                                                {{ timezone.rep }}
                                                
                                                    </option>
                                                </select>
                                                <i></i>
                                            </label>
                                            <div class="note note-error" ng-show="accountForm.timezone.$invalid && !accountForm.timezone.$pristine" >Your First Name is required.</div>
                                        </section>

   

                                        <footer>
                                         <button class="btn btn-info" ng-click='cancelUserUpdate()' type="button">Cancel</button>
                                         <button class="btn btn-success" ng-click="updateUserInfo()" ng-disabled="accountForm.$invalid">Save</button>           
                            </footer>
                                        
                                    </form>
                                </div>

                                <!-- end account info (edit)>-->
                                 </div>

                        </div>

                    </div>
                    <!-- end widget content --> </div>
                <!-- end widget div --> </div>
            <!-- end widget --> 
        </article>
    </section>