<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Manage Slots</span></h1>
    </div>
    
</div>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">

        <!-- new widget -->
        <div class="jarviswidget jarviswidget-color-blueDark">

            <header>
                <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                <h2> My Events </h2>
                <div class="widget-toolbar">
                    <!-- add: non-hidden - to disable auto hide -->
                    
                </div>
            </header>

            <!-- widget div-->
            <div>

                <div class="widget-body no-padding">
                    <!-- content goes here -->
                    
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar" style="padding-top:15px"></div>

                    <!-- end content -->
                </div>

            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->

    </div>


    
</div>


<script type="text/ng-template" id="createEmptySlot.html">
        <div class="modal-header">
            <h3 class="modal-title">Create an Empty Slot</h3>
        </div>
        <div class="modal-body">
        <div>Creat Empty Slot?</div>
   
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Create</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>
