@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000319}}
cropme {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000324}}
cropme .step-1 {
  font-family: helvetica, arial, sans-serif;
  position: relative;
  display: block;
  letter-spacing: 1px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000334}}
cropme .cropme-file-input {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000340}}
cropme input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000347}}
cropme .cropme-button {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background: rgba(0,0,0,0.4);
  color: white;
  height: 50px;
  width: 250px;
  margin-left: -125px;
  line-height: 50px;
  border: #fff solid 1px;
  border-radius: 10px
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000358}}
cropme .cropme-button:hover {
  background: #3799a6;
  color: #e6fafc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000362}}
cropme .cropme-button.deactivated {
  opacity: 0.5;
  pointer-events: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000367}}
cropme .cropme-or {
  pointer-events: none;
  text-align: center;
  color: #cccccc;
  margin-top: 25px;
  width: 20px;
  margin-left: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000375}}
cropme .cropme-label {
  margin-top: 25px;
  width: 150px;
  margin-left: -75px;
  pointer-events: none;
  text-align: center;
  /*color: #444444;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000383}}
cropme .cropme-error {
  margin-top: 10px;
  text-align: center;
  color: #da4b3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000388}}
cropme dropbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000395}}
cropme dropbox.not-available {
  background-color: #fff0f0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\0000398}}
cropme dropbox.over {
  background-color: #e5ffea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\00003101}}
cropme dropbox.loading {
  background-color: #aaffaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\00003105}}
cropme .overlay-tile {
  position: absolute;
  opacity: 0.5;
  background-color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\00003110}}
cropme .overlay-border {
  position: absolute;
  border: 2px solid #328d99;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\00003114}}
cropme .step-2 {
  position: relative;
  cursor: crosshair;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\00003118}}
cropme .step-2.col-resize {
  cursor: col-resize;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\00003120}}
cropme img {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/caleb\/projects\/cropme\/styles\/cropme\.scss}line{font-family:\00003121}}
cropme canvas {
  display: none;
}
