/*.menu-on-top aside#left-panel nav>ul>li>ul {
position: relative!important;
background: #3a3633;
}
.menu-on-top nav ul ul li {
overflow: visible;
display: inline-block!important;
}*/
#left-panel {

padding-top: 0px
}
nav ul{
	margin: 0 0 0 150px;
}
.sub_nav_menu {
	display:none;
}
.sticky_nav{
	display:block;
}

.sub_nav_menu .sub_nav_menu_ul {
	list-style-type: none;
	margin: 0 0 0 200px;
	padding: 0;
	
}


.sub_nav_menu .sub_nav_menu_ul li{
	display: inline;
	margin:0 10px;

}

.sub_nav_menu .sub_nav_menu_ul li a{
	color: #BEBEBE;
font-size: 15px;
	
}

.sub_nav_menu .sub_nav_menu_ul li.active{
	border-bottom:2px solid #fff;
	color: #fff!important

}
.sub_nav_menu .sub_nav_menu_ul li.active a{
	
	color: #fff!important

}
.sub_nav_menu .sub_nav_menu_ul li a:hover{
	color: #fff;
	text-decoration: none;
	
     
	
}

.dropdown-menu>li>a {

color: #333!important;

}

.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #eee;
border: 1px solid rgba(0, 0, 0, 0.05);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

html, body {

background:#fff; 

}

.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
color: #fff;
background-color: #1986EB;
border-color: #385764;
}

.text-info {
color: #091522;
}

chart {
    display: block;
    width:400px;
    height:200px;
}
.jarviswidget {

position: relative;
-moz-border-radius: 0;
-khtml-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
padding: 0;
}
.panel-green .panel-heading {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
.panel-yellow .panel-heading {
border-color: #f0ad4e;
color: #fff;
background-color: #f0ad4e;
}
.panel-yellow {
border-color: #f0ad4e;
}
.panel-red .panel-heading {
border-color: #d9534f;
color: #fff;
background-color: #d9534f;
}

.panel h3 {
	margin:0;
}
.panel-body{
	font-size: 18px;
	font-weight: bold
}

.smaller_font{
	font-size: 15px;
	font-weight: 200
}
.show-stat-microcharts>div {

height: 100%;

}

.margin-down-20
{
	margin-bottom:20px;
	font-size:18px;
	
}